<div id="draw-account-table-container">
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
      <mat-form-field class="top-item">
        <mat-label>Filter</mat-label>
        <input
          matInput
          [formControl]="filterControl"
          placeholder="Supercard of Awesomeness"
          (keyup)="filterTable()"
        >
        <button matSuffix mat-icon-button aria-label="Clear" (click)="filterControl.setValue(''); filterTable();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <button class="top-item" mat-flat-button color="primary" (click)="openDrawAccountDialog()">
          <mat-icon>add_circle</mat-icon>
          Add New Draw Account
        </button>
    </mat-grid-tile>
  </mat-grid-list>
  <table id="locations-table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let account"> {{account.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let account"> {{account.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let account">
        <div class="actions-container">
          <label (click)="openDrawAccountDialog(account)">Edit</label>
          <label class="spacer">|</label>
          <label (click)="openDeleteDialog(account)">Delete</label>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
