#receipts-table-container {
  display: block;
  width: 85%;
  margin: 25px auto;
}

.search-box {
  display: flex;
  width: 100%;
}

.button-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.actions-container {
  visibility: hidden;
  justify-content: space-around;
}

.actions-container>label {
  padding-left: 2px;
  padding-right: 2px;
}

.mat-mdc-row:nth-child(2n) {
  background-color: ghostwhite;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: aliceblue;
}

.mat-mdc-row:hover .actions-container {
  visibility: visible;
}

tr.note-row {
  height: 0;
}
