<div id="receipts-table-container">
  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile>
      <mat-form-field class="search-box">
        <mat-label>Filter</mat-label>
        <input
          matInput
          [formControl]="filterControl"
          placeholder="Bob's Discount Taco Shack"
          (keyup)="filterTable()"
        >
        <button matSuffix mat-icon-button aria-label="Clear" (click)="filterControl.setValue(''); filterTable();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="openReceiptDialog(null, false)">
          <mat-icon>add_circle</mat-icon>
          Add New Receipt
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <label>Total Subtotal: {{subtotalTotal | currency: 'USD'}}</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label>Total Sales Tax: {{salesTaxTotal | currency: 'USD'}}</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label>Total Donation: {{donationTotal| currency: 'USD'}}</label>
    </mat-grid-tile>
  </mat-grid-list>
  <table
    id="receipts-table"
    class="mat-elevation-z8"
    mat-table
    matSort
    matSortActive="date"
    matSortDirection="desc"
    [dataSource]="dataSource"
    (contentChanged)="calculateTotals()"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.date | date}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.location.name}} </td>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.subtotal | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="salesTax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales Tax </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.salesTax | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="donation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Donation </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.donation | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="drawAccount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Draw Account </th>
      <td mat-cell *matCellDef="let receipt"> {{receipt.drawAccount.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let receipt">
        <div class="actions-container">
          <label (click)="openReceiptDialog(receipt, false)">Edit</label>
          <label class="spacer">|</label>
          <label (click)="openDeleteDialog(receipt)">Delete</label>
          <label class="spacer">|</label>
          <label (click)="openReceiptDialog(receipt, true)">Duplicate</label>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="noteRow">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="row-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
          <app-notes-view [receiptId]="row.id"></app-notes-view>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.example-expanded-row]="expandedRow === row"
        (click)="showNote(row)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['noteRow']" class="note-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
