<mat-toolbar color="primary">
  <span>{{title}}</span>
  <mat-select color="primary" class="receipt-type-select" [formControl]="receiptTypeControl" *ngIf="!existingReceipt">
    <mat-option *ngFor="let type of receiptTypes" [value]="type"> {{type}} </mat-option>
  </mat-select>
</mat-toolbar>
<app-standard-receipt
  *ngIf="receiptTypeControl.value == 'Standard' || receiptTypeControl.value == 'Recurring'"
  [existingReceipt]="existingReceipt"
  [drawAccounts]="drawAccounts"
  [locations]="locations"
  [isRecurring]="receiptTypeControl.value == 'Recurring'"
  (onReceiptCreated)="handleReceiptEmitted($event)"
></app-standard-receipt>
<app-gas-receipt
  *ngIf="receiptTypeControl.value =='Gas'"
  [drawAccounts]="drawAccounts"
  [locations]="locations"
  (onReceiptCreated)="handleReceiptEmitted($event)"
></app-gas-receipt>
