.margin-top {
  margin-top: 5px;
}

.full-width {
  width: 100%;
}

.left-align-text {
  display: flex;
  justify-content: flex-start;
  word-wrap: break-word;
  margin-left: 10px;
}

.non-editing-note {
  white-space: normal;
}

.space-out-buttons {
  display: flex;
  justify-content: space-evenly;
}
